/* General */
* {
	direction:rtl !important;
	
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input {
	text-align: right !important;
}

/* Pull Down to Refresh Styles */
#test {
	font-size:16px;
	height:16px;
	position:absolute;
	width:100%;
	top:-35px;
	text-align:center;
}

#test div{
	display: inline-block;
	text-align: right;
	max-width: 100% !important;
}

#test #loading_text {
	font-weight: bold;
	color: gray;
	vertical-align:top;
	position:relative;
	top:3px;
}

#test .pullDownIcon {
	display:inline-block;
	width:18px; height:25px;
	background:url('images/pull-icon.png') 0 0 no-repeat;
	
	transition-property:transform;
	transition-duration:250ms;
	
	-moz-transition-property:transform;
	-moz-transition-duration:250ms;
	
	-ms-transition-property:transform;
	-ms-transition-duration:250ms;
	
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}

#test.flip .pullDownIcon {
	transform:rotate(-180deg) translateZ(0);
	-moz-transform:rotate(-180deg) translateZ(0);
	-ms-transform:rotate(-180deg) translateZ(0);
	-webkit-transform:rotate(-180deg) translateZ(0);
}

/* Login Page */ 
.error {
	color: red;
	text-align: center;
	visibility: hidden;
}

.login_container div {
	margin: 0;
}

/* Forms - General */
.input_placeholder {
	position: absolute;
	color: gray;
	top: 25%;
	right: 6px;
	cursor: text;
}

.login_container, .register_container, .profile_container {
	position: relative;
}

/* Iteration Containers Handling */
.iteration_container {
	border-bottom: 1px dashed gray;
	border-top: 1px dashed gray;
	text-align:center;
	display:none;
}

.add_container, .remove_container {
	background: lightgray !important;
}

/* Short Select Inputs (dates) */
#date_of_birth .ui-controlgroup-controls {
    width: 100%;
}

#date_of_birth .ui-controlgroup-controls .ui-select {
    min-width: 33.33%;
}

#next_step_availability_date .ui-controlgroup-controls {
    width: 100%;
}

#next_step_availability_date .ui-controlgroup-controls .ui-select {
    min-width: 33.33%;
}

#profile_date_of_birth .ui-controlgroup-controls {
    width: 100%;
}

#profile_date_of_birth .ui-controlgroup-controls .ui-select {
    width: 33.33%;
}

.small_date .ui-controlgroup-controls {
    width: 100%;
}

.small_date .ui-controlgroup-controls .ui-select {
    width: 50%;
}

/* Jobs Feed & Match Percentage */
.incomplete {
	text-align:center;
	color:red;
	font-size:0.7em;
	display:none;
}

.job_result {
	margin-top: 10px;
	border-width: 1px;
	border-radius:5px;
}

.job_result .match_percentage {
	height:15px;
	width:70px;
}

.description {
	width:1200px;
	max-width:100%;
	clear:left;
	margin-left:75px;
	font-weight:normal;
	font-size:0.9em;
	color:darkblue;
	display:none
}

.img_match_0{  background:url('images/stars_halfs.png') 0 0px no-repeat;}
.img_match_5{  background:url('images/stars_halfs.png') 0 -15px no-repeat;}
.img_match_10{  background:url('images/stars_halfs.png') 0 -15px no-repeat;}
.img_match_15{ background:url('images/stars_halfs.png') 0 -32px no-repeat;}
.img_match_20{ background:url('images/stars_halfs.png') 0 -32px no-repeat;}
.img_match_25{ background:url('images/stars_halfs.png') 0 -48px no-repeat;}
.img_match_30{ background:url('images/stars_halfs.png') 0 -48px no-repeat;}
.img_match_35{ background:url('images/stars_halfs.png') 0 -65px no-repeat;}
.img_match_40{ background:url('images/stars_halfs.png') 0 -65px no-repeat;}
.img_match_45{ background:url('images/stars_halfs.png') 0 -81px no-repeat;}
.img_match_50{ background:url('images/stars_halfs.png') 0 -81px no-repeat;}
.img_match_55{ background:url('images/stars_halfs.png') 0 -96px no-repeat;}
.img_match_60{ background:url('images/stars_halfs.png') 0 -96px no-repeat;}
.img_match_65{ background:url('images/stars_halfs.png') 0 -112px no-repeat;}
.img_match_70{ background:url('images/stars_halfs.png') 0 -112px no-repeat;}
.img_match_75{ background:url('images/stars_halfs.png') 0 -128px no-repeat;}
.img_match_80{ background:url('images/stars_halfs.png') 0 -128px no-repeat;}
.img_match_85{ background:url('images/stars_halfs.png') 0 -143px no-repeat;}
.img_match_90{ background:url('images/stars_halfs.png') 0 -143px no-repeat;}
.img_match_95{ background:url('images/stars_halfs.png') 0 -158px no-repeat;}
.img_match_100{background:url('images/stars_halfs.png') 0 -158px no-repeat;}

/* Misc. */
.header_normal {
	z-index:999;
	text-align: center;
}

#self_eval h4 {
	margin:0
}